*{
    margin: 0px;
    padding: 0px;
}
body{

    overflow: hidden;
}
.container{
    display:flex;
    background-color:white;
    width:97.8vw;
    height:95.8vh;
    border-top:20px solid black; 
    border-right:8px solid black; 
    border-bottom:8px solid black ;
    border-left:20px solid black;
}
.box1 ,.box3{
position:relative;
top:5px;
background-color: aqua;
width:100px;
height:100px;
border:3px solid black;
}
.box3{
    right:50px;
}
.box1{
    left:50px;
}
.box2{
position: relative;
top:50px;
background-color: rgb(189, 61, 104);
width: 100px;
height:100px;
box-shadow: 15px 15px 5px rgb(100, 94, 94);
border:3px solid black;
z-index: 1;
}